---
layout: default
---


<div class="row parallax-window top">
    <script>$('.parallax-window').parallax({imageSrc: 'resources/headerBG.jpg'});</script>
    <div class="col-sm-6"></div>
    <div class="col-sm-6">
        <h1>Hello, I am</h1>
        <h2><span class="typing"></span></h2>
    </div>
</div>

<div class="row about">
    <h1>About Me</h1>
    <div class="col-sm-6"><img src="resources/family.jpg" width="100%"/></div>
    <div class="col-sm-6">
        <p>Hello, I'm JohnAnthony Eletto, lifeguard, drummer, and computer science student at Marist College in Poughkeepsie, NY. Here you can see a picture of my awesome family! I'm in the middle in the suit. Don't forget to download my resume and send me an email.</p>
        <a href="/resources/JohnEletto_Resume.pdf" target="_blank"><button>Download My Resume</button></a>
    </div>
</div>
{% for post in site.categories.education %}
    <div class="row parallax-window education">
        <script>if ( $(window).width() >= 768)($('.parallax-window').parallax({imageSrc: '{{post.image}}'}));</script>
        <img src="{{ post.image }}" width="100%;" class="visible-xs">
        <h1>{{ post.school }}</h1>
        <h3>{{ post.dates }}</h3>
        <table align="center">
        <tr>
        <td><b>Major:</b></td><td>{{ post.major }}</td>
        </tr>
        <tr>
        <td><b>Minor:</b></td><td>{{ post.minor }}</td>
        </tr>
        <tr>
        <td><b>Pathway:</b></td><td>{{ post.pathway }}</td>
        </tr>
        </table>
    </div>
{% endfor %}
<h1 style="text-align: center;">Work Experience</h1>
{% for post in site.categories.job %}
    <div class="row parallax-window work">
        <script>if ( $(window).width() >= 768)($('.parallax-window').parallax({imageSrc: '{{post.image}}'}));</script>
        <h1>{{ post.employer }} - {{ post.jobTitle }}</h1>
        <h3>{{ post.dates }}</h3>
        {{ post.content }}
    </div>
{% endfor %}
