body {
    max-width: 100%;
    overflow-x: hidden;
    border-top: 7px solid #4285f4;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}


.portfolio-title{
    text-decoration: underline;
    text-decoration-color:  #4285f4;
}

a.portfolio-link {
    margin: 0 auto;
    display: block;
    text-align: center;
}
*::-webkit-media-controls {
    display: none !important;
}

*::-webkit-media-controls-panel {
    display: none !important;
    -webkit-appearance: none;
}


*::-webkit-media-controls-play-button {
    display: none !important;
    -webkit-appearance: none;
}

*::-webkit-media-controls-start-playback-button {
    display: none !important;
    -webkit-appearance: none;
}