<footer>
      <div class="row">
        <div class="col-sm-6" style="background-image: url('/resources/resume.jpg'); background-size: cover; height: 150px;">
          <a href="/resources/JohnEletto_Resume.pdf" target="_blank"><button>Download My Resume</button></a>
        </div>
        <div class="col-sm-6" style="background-image: url('/resources/phone.jpg'); background-size: cover; height: 150px;">
          <a href="tel:+15164689725"><button>+1 (516) 468-9725</button></a>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6" style="background-image: url('/resources/email.jpg'); background-size: cover; height: 150px;">
          <a href="mailto:john@johneletto.com"><button>john@johneletto.com</button></a>
        </div>
        <div class="col-sm-6" style="background-image: url('/resources/github.jpg'); background-size: cover; height: 150px;">
          <a href="https://github.com/johnanthonyeletto" target="_blank"><button>Fork me on GitHub</button></a>
        </div>
      </div>

</footer>

