---
layout: default
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <div itemprop="articleBody">
    <div class="row">
      <div class="col-sm-12 parallax-window postHeader">
        <script>if ( $(window).width() >= 768)($('.parallax-window').parallax({imageSrc: '{{ page.image }}'}));</script>
        <a href="/"><img src="/resources/back.png" height="75px" width="75px" style="left: 10px; top: 10px; position: fixed; z-index: 100;"></a>
        <img src="{{ page.image }}" height="300vh" style="max-width: 100vw;">
      </div>
    </div>
    <div class="row postContent">
      <div class="col-sm-12">
        <h1>{{ page.title }}</h1>
        <p>{{ page.date | date: '%B %d, %Y' }}</p>
        <p>{{ page.content }}</p>
      </div>
    </div>
  </div>
</article>
